<!--BREADCRUMB-->
<div id="container_breadcrumb">
    <div id="breadcrumb">
        <div class="col s12">
            <a href="/" class="breadcrumb">Principal</a>
            <a href="#" class="breadcrumb">Extravio Norman03</a>
        </div>
    </div>
</div>

<!--CONTAINER-->
<form class="container center" id="container-master" action="" method="POST">

    <!--LOGO-->
    <div class="container center" id="logo_forms">
        <h5 class="left"><i><b id="name_form">Extravio Norman03 <i
                        class="material-icons left small">assignment</i></b></i>
    </div>

    <!--BUTTONS-->
    <div class="card lg " id="buttons">
        <a class="btn-medium  waves-effect waves-light btn" type="submit"><i class="material-icons left">save</i>Salvar</a>
        <a class="btn- center waves-effect waves-light btn"><i class="material-icons left">edit</i> Alterar</a>
        <a class="btn- center waves-effect waves-light btn"><i
                class="material-icons left">local_printshop</i>Imprimir</a>
        <a class="btn- center waves-effect waves-light btn"><i class="material-icons left">add_box</i>Importar</a>
    </div>

    <!--FORM-->
    <div id="container" class="container center card section">
        <div class="row">
            <form class="col">
                <div id="container_02" class="row">
                    <div class="input-field col s5">
                        <input name="nome" type="text">
                        <label for="nome">Nome:</label>
                    </div>
                    <div class="input-field col s2">
                        <input name="nacionalidade" type="text">
                        <label for="nacionalidade">Nacionalidade:</label>
                    </div>
                    <div class="input-field col s2">
                        <input name="naturalidade" type="text">
                        <label for="naturalidade">Naturalidade:</label>
                    </div>
                    <div class="input-field col s1">
                        <input id="nome" type="text">
                        <label for="uf">UF</label>
                    </div>

                    <div class="input-field col s2">
                        <input placeholder="Digite o CEP" id="cep" type="text">
                        <label for="cep">CEP:</label>
                    </div>
                    <div class="input-field col s5">
                        <input placeholder="Digite o endereço" type="text" id="logradouro">
                        <label for="endereco">Endereco:</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="Digite o numero" type="text">
                        <label for="numero">Numero</label>
                    </div>
                    <div class="input-field col s1">
                        <input placeholder="Casa/Apt" id="endereco" type="text">
                        <label for="complemento">Complemento</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Digite o bairro" id="bairro" type="text">
                        <label for="bairro">Bairro</label>
                    </div>
                    <div class="input-field col s4">
                        <input placeholder="Digite a cidade" id="localidade" type="text">
                        <label for="cidade">Cidade</label>
                    </div>
                    <div class="input-field col s1">
                        <input placeholder="Ex: SP" id="uf" type="text">
                        <label for="uf">UF</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="RG/CNH" id="endereco" type="text">
                        <label for="rg-cnh">Identidade</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="Data de emissao" id="endereco" type="date">
                        <label for="dateEmissao">Data de Emissao</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="CPF/CNPJ" id="endereco" type="text">
                        <label for="cpf-cnpj">CPF/CNPJ</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="(000) 0000-0000" id="endereco" type="text">
                        <label for="tel">TELEFONE</label>
                    </div>
                    <div class="input-field col s2">
                        <input placeholder="(000) 0000-0000" id="endereco" type="text">
                        <label for="cel">CELULAR</label>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Digite o email" id="endereco" type="text">
                        <label for="email">Email:</label>
                    </div>
                </div>

                <!--FORM EXTRAVIO DE DOCUMENTO-->
                <div class="card" id="form_extravio_norman03">
                    <select class="browser-default col s4">
                        <option value="">SELECIONE O DOCUMENTO EXTRAVIADO</option>
                        <option value="1">Título de Inscrição de Embarcação (TIE)</option>
                        <option value="2">Título de Inscrição de Embarcação Miúda (TIEM) </option>
                        <option value="3">Parte do Recibo de compra via original ( TIEM)</option>
                    </select>
                </div>
        </div>
    </div>
</form>