<!--BREADCRUMB-->
<div id="container_breadcrumb">
    <div id="breadcrumb">
        <div class="col s12">
            <a href="/" class="breadcrumb">Principal</a>
            <a href="#" class="breadcrumb">Procuração</a>
        </div>
    </div>

</div>

<!--CONTAINER-->
<div class="container center" id="container-master" style="display: block;">

    <!--LOGO-->
    <div class="container center" id="logo_forms">
        <h5 class="left"><i><b id="name_form">Procuração <i class="material-icons left small">assignment</i></b></i>
    </div>

    <!--BUTTONS-->
    <div class="card lg " id="buttons">
        <a class="btn-medium  waves-effect waves-light btn"><i class="material-icons left">save</i>Salvar</a>
        <a class="btn- center waves-effect waves-light btn"><i class="material-icons left">edit</i> Alterar</a>
        <a class="btn- center waves-effect waves-light btn"><i
                class="material-icons left">local_printshop</i>Imprimir</a>
        <a class="btn- center waves-effect waves-light btn"><i class="material-icons left">add_box</i>Importar</a>
    </div>

    <!--FORM-->
    <div id="container" class="container center card section">
        <div class="row">
            <form class="col">
                <div id="container_02" class="row">
                    <div class="input-field col s12">
                        <input id="nome" type="text">
                        <label for="first_name">Nome:</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="RG/CNH" id="endereco" type="text">
                        <label for="first_name">Identidade</label>
                    </div>
                    <div class="input-field col s6">
                        <input placeholder="CPF/CNPJ" id="endereco" type="text">
                        <label for="first_name">CPF/CNPJ</label>
                    </div>
                </div>
        </div>
    </div>
</div>