
<title>ENAUTIC</title>

<!--<div class="container center">
    <div class="logo">
        <i class="material-icons" style="font-size: 140px;">blur_on</i>
        <i><b>e</b>-nautic</i>
    </div>
   

</div>
   -->
<style>
    /*BACKGROUND IMAGE*/
    body {
        background-image: url(/img/background.jpg);
    }

    /*logo*/
    .logo {
        font-size: 140px;
        margin-top: 10%;
        opacity: 0.2;
    }

    h6 {
        color: rgb(20, 92, 88);
       
    }
</style>